.header {
  width: 100%;
  height: 3.75rem;
  background-color: var(--dark);
  border-bottom: 1px solid var(--deep-grey);
  box-shadow: var(--horizontal-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.inner {
  flex: 1;
  padding: 0 0.75rem 0 1.1875rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
