.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.125rem 1rem;
}

.title {
  font-family: 'HEADING PRO', sans-serif;
  font-size: 1.8125rem;
  letter-spacing: 3.5px;
  color: var(--white);
  margin: 0;
  text-transform: uppercase;
}
