.root {
  padding: 2.125rem 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--deep-grey);
}

.link {
  font-size: 0.75rem;
  color: var(--white);
  letter-spacing: 0.24px;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  color: var(--white);
  font-size: 1.8125rem;
  letter-spacing: 3.5px;
  font-family: 'HEADING PRO', sans-serif;
  text-transform: uppercase;
}

.fake {
  opacity: 0;
  pointer-events: none;
}
