.label {
  color: var(--white);
  position: relative;

  letter-spacing: 0.29px;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;

  &[data-size='medium'] {
    font-size: 0.9rem;
  }

  &[data-size='small'] {
    font-size: 0.75rem;
  }
}
