.root {
  display: inline-block;

  .label,
  .info {
    font-size: 0.75rem;
    letter-spacing: 0.24px;
    margin-right: 3px;
  }
}

.label {
  color: var(--light-grey);
}

.info {
  color: var(--light-blue);
}
